.sx__today-button {
  font-size: var(--sx-calendar-header-input-font-size);
  color: var(--sx-internal-color-text);
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 55px;
  height: 31px;
  background: #fff;
  border: 0.5px solid #a1a1aa;
  border-radius: 6px;

  &:active {
    background-color: var(--sx-internal-color-gray-ripple-background);
  }

  .sx__is-calendar-small & {
    display: none;
  }

  .sx__calendar-header & {
    border: var(--sx-border);
  }

  &:hover,
  &:focus {
    background-color: var(--sx-internal-color-light-gray);

    .is-dark & {
      background-color: var(--sx-color-surface-container-low);
    }
  }
}
